header {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #AC2B37;
 font-size: 25px;
 /*center the image*/
 display: block;
 width: 15%;
 margin-left: auto;
 margin-right: auto;
}
body {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #FF0000;
 font-size: 18px;
}
h1 {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #A9B0B7;
 font-size: 20px;
}
footer {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #000000;
 font-size: 14px;
}
#content {
    padding:3px;
}
header {
  padding-top: 3px;
  padding-bottom: 30px;
}
body {
  padding-top: 3px;
  padding-right: 30px;
  padding-bottom: 20px;
}
h1 {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
}
footer {
  padding-top: 10px;
  padding-right: 3px;
  padding-bottom: 3px;
}
